<%= link_to 'other', js_other_path %>
<% content_for :head do %>
<% end %>

<div id="page">
  <div class="page-header">
    <h1>Reservation System (<a class="text-primary" href="http://preview.uedsky.com/demo/reserving" target="_blank">interactive demo</a>)</h1>
  </div>
  <div id="calendar"></div>
</div>
