<h1>Sprockets version</h1>
<div class="text-center">
  <%= link_to 'go to webpacker version', js_other_path %>
</div>

<div id="page">
  <div class="page-header">
    <h1>Reservation System (<a class="text-primary" href="http://preview.uedsky.com/demo/reserving" target="_blank">interactive demo</a>)</h1>
  </div>
  <div id="calendar"></div>
</div>
